# Setup

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt

import plotly.express as px
import plotly.io as pio
import seaborn as sns
import numpy as np

In [3]:
data_processed = "../../../data/processed/"
data_interim = "../../../data/interim/"
data_external = "../../../data/external/"
graph_data = data_processed + "graph_data_nohubs/"
reports_comunidades = "../../../reports/reports_nohubs/analisis_comunidades/"

graph_node_data = pd.read_csv(graph_data+"nohub_graph_node_data.csv")
graph_edge_data = pd.read_csv(graph_data+"nohub_graph_edge_data.csv").rename(columns={"relation":"edge_type"})

In [9]:
graph_node_data[graph_node_data.node_source == "primekg_NCBI"]

,node_index,node_id,node_name,node_type,node_source,comunidades_infomap,comunidades_louvain,degree_gda,degree_pp,degree_dd
332,14,100049587,SIGLEC14,gene_protein,primekg_NCBI,NaN,NaN,0.0,2.0,0.0
567,57,100129543,ZNF730,gene_protein,primekg_NCBI,NaN,NaN,0.0,1.0,0.0
570,59,100129842,ZNF737,gene_protein,primekg_NCBI,NaN,NaN,0.0,1.0,0.0
672,63,100131187,TSTD1,gene_protein,primekg_NCBI,NaN,NaN,0.0,1.0,0.0
695,67,100131539,ZNF705E,gene_protein,primekg_NCBI,NaN,NaN,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
33668,18176,9738,CCP110,gene_protein,primekg_NCBI,NaN,NaN,0.0,9.0,0.0
33708,18293,9856,KIAA0319,gene_protein,primekg_NCBI,NaN,NaN,0.0,2.0,0.0
33725,18369,9937,DCLRE1A,gene_protein,primekg_NCBI,NaN,NaN,0.0,1.0,0.0
33731,18386,9955,HS3ST3A1,gene_protein,primekg_NCBI,NaN,NaN,0.0,1.0,0.0
33732,18388,9957,HS3ST1,gene_protein,primekg_NCBI,NaN,NaN,0.0,1.0,0.0

In [17]:
display(pd.DataFrame(graph_edge_data.edge_source.value_counts()/2))

          edge_source
hippie       110051.0
disgenet      84014.0
primekg       59076.0
signor         1885.0

In [22]:
display(pd.DataFrame(graph_edge_data.edge_type.value_counts()/2))

                 edge_type
ppi               110051.0
gda                84014.0
pathway_protein    42643.0
disease_disease    16433.0
form_complex        1885.0

In [21]:
graph_node_data[graph_node_data.node_source == "primekg_REACTOME"].node_type.value_counts()

pathway    2017
Name: node_type, dtype: int64

In [8]:
display(pd.DataFrame(graph_node_data.node_type.value_counts()))
display(pd.DataFrame(graph_node_data.node_source.value_counts()))

              node_type
gene_protein      17322
disease           15039
pathway            2017
bert_group         1040
complex             421

                  node_source
disgenet                24728
hippie                   6273
primekg_REACTOME         2017
primekg_NCBI             1350
primekg                  1040
signor                    431